# PEAR package
*.tgz

### ~/.gitignore-boilerplates/Global/Eclipse.gitignore

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

### ~/.gitignore-boilerplates/Global/Emacs.gitignore

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

### ~/.gitignore-boilerplates/Global/NetBeans.gitignore

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

### ~/.gitignore-boilerplates/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### ~/.gitignore-boilerplates/Global/PhPStorm.gitignore

.idea/

### ~/.gitignore-boilerplates/Global/SublimeText.gitignore

# SublimeText project files
*.sublime-workspace

### ~/.gitignore-boilerplates/Global/TextMate.gitignore

*.tmproj
*.tmproject
tmtags

### ~/.gitignore-boilerplates/Global/vim.gitignore

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
